body {
    background-color: #00FFFF;
}
#header {
    font-family: 'cursive';
    color: #FF0000;
    text-align: CENTER;
    font-size: 36px;
    margin-bottom: 25px;
}
#Rheader {
    font-family: 'cursive';
    color: #FF0000;
    text-align: CENTER;
    font-size: 36px;
    margin-bottom: 25px;
}

#name_display {
    font-family: 'fantasy';
    color: #FF0000;
    text-align: CENTER;
    font-size: 24px;
    margin-bottom: 25px;
}

#name_statement {
    font-family: 'fantasy';
    color: black;
    text-align: CENTER;
}

#submit{
    font-family: 'fantasy';
    color: black;
    text-align: CENTER;

}

h1 {
    margin-bottom: 25px;
}
h2 {
    font-family: 'fantasy';
    color: black;
    text-align: CENTER;
    font-size: 16px;
    text-decoration: underline;
}


#button {
    color: black;
    text-align: CENTER;
}
#quizform {
    font-family: 'Oswald';
    color: black;
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}
#qlayout {
    margin-left: -65%;
    margin-bottom: 25px;
    text-align: CENTER;
}
#ratioheader{
    text-align: CENTER;
    color: black;
}
#returnbutton {
    color: black;
    text-align: CENTER;
}
#resultsfrm{
    text-align: CENTER;
}
#pichart{
    color: black;
    text-align: CENTER;
}

#links {
    font-family: 'Oswald';
    text-align: center;
    font-size: 12px;
}
